body { font-family: Helvetica, sans-serif; }
h2, h3 { margin-top:0; }
form { margin-top: 15px; }
form > input { margin-right: 15px; }

#results { padding:15px; border:1px solid; background:#f8f8f8; }
#results > img { width: 160px; height: 120px; }

.left { float: left; }
.right { float: right; }
.half { width: 50%; }
#particle {
	background-color: #020920;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0; 
}
#overlay {
	position: relative;
}

.container {
	background-color: #fff;
}
.row {
	padding: 35px;
}

#prediction_by_watson {
	font-size: 23pt;
}

.logo {
	height: 80px;
	width: 80px;
}